.header__cart-center {
    position: relative;
}

.header__cart-overlay {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: $orange;
    border-radius: 15px;
    width: 521px;
    z-index: 3;
}

.header__cart-close {
    position: absolute;
    top: 0px;
    right: -32px;
    background-color: $red;
    border: none;
    cursor: pointer;
}

.header__cart-wrapper {
    overflow-y: auto;
    height: 143px;
}

.header__cart-content {
    padding: 35px 22px 35px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid $black;
}

.header__cart-flex {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-image {
    max-width: 144px;
    width: 100%;
    height: 61px;
    object-fit: cover;
}
.header__arrow {
    width: 30px;
    cursor: pointer;
}
.header__item-number {
    color: $black;
}
.header__cart-info {
    max-width: 200px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: $black;
}

.header__cart-footer {
    padding: 37px 22px 36px 33px;
}

.header__cart-footer__content {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 16px;
    color: $black;
}

.header__cart-footer__gotonext {
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: $red;
    border: none;
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #dd2d2d;
    }
}

.header__cart-remove {
    cursor: pointer;
}

.header__cart-footer__order {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__cart-footer__order-label {
    max-width: 100%;
}

.header__cart-footer__order-input {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
}
.footer__reset {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .header__cart-overlay {
        position: fixed;
        width: 100%;
    }

    .header__cart-close {
        top: 5px;
        right: 13px;
    }
}

@media (max-width: 417px) {
    .header__cart-image {
        display: none;
    }
}

.showCart {
    display: block;
}