.contact {
    margin-bottom: 50px;
    &__map {
        max-width: 100%;
        height: 587px;
        background-color: $white;
    }
    .gm-style-iw-d {
        color: $black;
    }
}
@media (max-width: 1254px) {
    .contact__map {
        width: 100%;
        height: 250px;
    }
    }