.features {
    justify-content: center;
    margin-bottom: 103px;
    &__swiper {
        max-width: 1530px;
    }
    &__swiper {
        overflow-x: hidden;
    }
    .swiper-wrapper {
        height: auto;
        display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
    &__slide {
        max-width: 400px;
        width: 100%;
        background-color: #DFDDDD;
        border-radius: 50px;
        padding: 20px;
        color: $black;
        text-align: center;
    }
    &__info {
        margin-bottom: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__stars {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__star {
        margin: 5px;
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
    }
    &__text {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 350px) {
    .features__star {
        margin: 2px;
    }
}