<div class="features" id="ourbest">
  <div class="container">
    <div data-aos="fade-up" data-aos-duration="3000" class="title features__title">Our Best</div>
    <div class="features__inner">
    <div class="features__swiper swiper">
      <div class="features__wrapper swiper-wrapper">
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img1.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Burger</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with
            </p>

          </div>
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img2.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Meat</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with
            </p>
          </div>
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img3.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Pepper</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with
            </p>
          </div>
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img2.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Meat</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with
            </p>
          </div>
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img1.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Burger</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with
            </p>
          </div>
          <div class="features__slide swiper-slide">
            <div class="features__info">
              <img src="images/features/img3.jpg" alt="burger" class="features__img">
              <div class="features__name">
                <div class="features__stars">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                  <img src="images/features/star.svg" alt="star" class="features__star">
                </div>
                <div class="features__subtitle">Pepper</div>
              </div>
            </div>
            <p class="features__text">
              nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
      </div>
    </div>
  </div>
</div>
</div>
</div>