<div class="features">
    <div class="container">
        <h2 class="title features__title-main">our best</h2>
        <div class="features__inner">
          <div class="features__swiper swiper">
            <!-- Additional required wrapper -->
            <div class="features__wrapper swiper-wrapper">
              <!-- Slides -->
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img1.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Burger</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img2.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Salad</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img3.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Fruit</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img1.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Burger</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img2.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Salad</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
              <div class="features__slide swiper-slide">
                <div class="features__content">
                  <img src="images/features/img3.jpg" alt="salad" class="features__img">
                  <div class="features__info">
                    <div class="features__title">Fruit</div>
                    <div class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                      <img src="images/features/star.svg" alt="star" class="features__stars">
                    </div>
                  </div>
                  <div class="features__descr">nchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop pu</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>