<div class="headertop">
    <div class="container">
        <div class="headertop__inner">
            <div class="headertop__img"><img src="images/header/headerbg.png" alt="headerbg" class="headertop__image"></div>
            <div class="headertop__content">
                <h1 class="headertop__title">STAY HEALTHY & JOIN US</h1>
                <p class="headertop__subtitle">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
            </div>
        </div>
        <div class="headertop__btn">
        <a data-scroll="#menu" href="" class="headertop__menubtn">Explore menu</a>
        <img src="images/header/pepper.svg" alt="pepper" class="headertop__pepper">
    </div>
    </div>
</div>