<div class="menu" id="menu">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-duration="3000" data-aos-once='false' class="title menu__title">MENU</h2>
        <div class="menu__btn-container">
            <button type="button" class="menu__btn" data-id="all">All</button>
            <button type="button" class="menu__btn" data-id="breakfast">Breakfast</button>
            <button type="button" class="menu__btn" data-id="lunch">Lunch</button>
            <button type="button" class="menu__btn" data-id="dinner">Dinner</button>
            <button type="button" class="menu__btn" data-id="supper">Supper</button>
            <button type="button" class="menu__btn" data-id="drinks">Drinks</button>
            <button type="button" class="menu__btn" data-id="vegetables">Vegetables</button>
            <button type="button" class="menu__btn" data-id="fastfood">Fastfood</button>
        </div>
        <div class="menu__inner">
            <!-- <div class="menu__item">
                <img src="images/menu/img1.jpg" alt="menu" class="menu__img">
                <div class="menu__content">
                    <div class="menu__subtitle">Fried Chicken</div>
                    <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto reprehenderit</div>
                    <div class="menu__info">
                    <div class="menu__amount">Price</div>
                    <div class="menu__price">5.75 $</div>
                </div>
                    <button type="button" class="menu__addtocart">Add to cart</button>
                </div>
            </div> -->
            <!-- <div class="menu__item">
                <img src="images/menu/img2.jpg" alt="menu" class="menu__img">
                <div class="menu__content">
                    <div class="menu__subtitle">Omlet</div>
                    <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto reprehenderit</div>
                    <div class="menu__info">
                    <div class="menu__amount">Price</div>
                    <div class="menu__price">5.75 $</div>
                </div>
                    <button type="button" class="menu__addtocart">Add to cart</button>
                </div>
            </div>
            <div class="menu__item">
                <img src="images/menu/img3.jpg" alt="menu" class="menu__img">
                <div class="menu__content">
                    <div class="menu__subtitle">Green</div>
                    <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto reprehenderit</div>
                    <div class="menu__info">
                    <div class="menu__amount">Price</div>
                    <div class="menu__price">5.75 $</div>
                </div>
                    <button type="button" class="menu__addtocart">Add to cart</button>
                </div>
            </div>
            <div class="menu__item">
                <img src="images/menu/img4.jpg" alt="menu" class="menu__img">
                <div class="menu__content">
                    <div class="menu__subtitle">Pepper</div>
                    <div class="menu__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro architecto reprehenderit</div>
                    <div class="menu__info">
                    <div class="menu__amount">Price</div>
                    <div class="menu__price">5.75 $</div>
                </div>
                    <button type="button" class="menu__addtocart">Add to cart</button>
                </div>
            </div> -->
        </div>
    </div>
</div>
