<div class="order">
    <div class="container">
        <h2 class="title order__title">ORDER</h2>
        <div class="order__inner">
            <form action="#" class="order__form">
                <h3 class="order__subtitle">Order Call</h3>
                <label class="order__label order__label--first">
                    <input type="text" class="order__name order__main" placeholder="Name" name="name">
                    <img src="images/order/cucumber.svg" alt="cucumber" class="order__cucumber">
                </label>
                <label class="order__label">
                    <input type="tel" class="order__phone order__main" placeholder="Phone" name="phone">
                </label>
                <button class="order__submit">Submit</button>
            </form>
            <div class="order__decor"><img src="images/order/berry.svg" alt="berry" class="order__img"></div>
        </div>
    </div>
</div>