<div class="order" id="order">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-duration="3000" data-aos-once='false' class="title order__title">ORDER</h2>
        <div class="order__inner">
            <form action="mail.php" enctype="multipart/form-data" class="order__form" method="POST">
                <h3 class="order__subtitle">Order Call</h3>
                <input type="hidden" name="admin_email[]" value="andrew.ndrw1@gmail.com">
                <input type="hidden" name="form_subject" value="Тема письма">
                <label class="order__label form__label order__label--first">
                    <input type="text" class="order__name order__main" placeholder="Name" name="name">
                    <img src="images/order/cucumber.svg" alt="cucumber" class="order__cucumber">
                </label>
                <label class="order__label form__label">
                    <input type="tel" data-validate-field="tel" class="order__phone order__main" placeholder="Phone" name="phone">
                </label>
                <label class="order__label form__label">
                    <input type="email" data-validate-field="email" class="order__mail order__main" placeholder="Email" name="email">
                </label>
                <button class="order__submit">Submit</button>
            </form>
            <div class="order__decor"><img src="images/order/berry.svg" alt="berry" class="order__img"></div>
        </div>
    </div>
</div>