<div class="service" id="services">
    <div class="container">
        <h2 class="title service__title">SERVICE</h2>
        <div class="service__item">
            <img src="images/service/img1.jpg" alt="" class="service__img service__img--right">
            <div class="service__content">
                <div class="service__info">
                    <div class="service__tooltip-main">
                        <button aria-describedby="tiptext" class="service__tip">
                            <img src="images/service/tooltip.svg" alt="servicebtn" class="service__tooltip">
                        </button>
                        <div role="tooltip" class="service__tip-text service__tip-text--before" id="tiptext">it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</div>
                    </div>
                    <h3 class="service__subtitle service__subtitle-right">ORDER ONLINE</h3>
                </div>
                <p class="service__text service__text-right">typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="service__item service__item-left">
            <div class="service__content">
                <div class="service__info service__info-left">
                    <div class="service__tooltip-main">
                        <button aria-describedby="tiptext" class="service__tip">
                            <img src="images/service/tooltip.svg" alt="servicebtn" class="service__tooltip">
                        </button>
                        <div role="tooltip" class="service__tip-text service__tip-text__left" id="tiptext">it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</div>
                    </div>
                    <h3 class="service__subtitle service__subtitle-left">FAST DELIVERY</h3>
                </div>
                <p class="service__text service__text-left">typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <img src="images/service/img2.jpg" alt="" class="service__img service__img--left">
        </div>
        <div class="service__item">
            <img src="images/service/img3.jpg" alt="" class="service__img service__img--right">
            <div class="service__content">
                <div class="service__info">
                    <div class="service__tooltip-main">
                        <button aria-describedby="tiptext" class="service__tip">
                            <img src="images/service/tooltip.svg" alt="servicebtn" class="service__tooltip">
                        </button>
                        <div role="tooltip" class="service__tip-text service__tip-text--before" id="tiptext">it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</div>
                    </div>
                    <h3 class="service__subtitle service__subtitle-right">CATERING SERVICE</h3>
                </div>
                <p class="service__text service__text-right">typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <img src="images/service/pear.svg" alt="pear" class="service__pear">
</div>